/*电费查询*/
.tips{
  width: 800px;
  font-size: 18px;
  line-height: 30px;
  display: none;
  position: absolute;
  background:black;
  filter:alpha(opacity=80);
  opacity:0.8;
  top:0px;
  left: 50%;
  margin-left: -400px;
  text-align: left;
  padding: 30px;
}
.tips p{
  color: white;
}
.down:hover .tips{
  display: block;
}
main.eleQuary table{
  margin: 0 auto;
  padding-top: 40px;

}
main.eleQuary td{
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 3px;
}
main.eleQuary td.left{
  width: 200px;
  padding-right: 25px;
  text-align: center;
}
main.eleQuary td.right{
  width: 150px;
  font-size: 17px;
  padding-left: 55px;
}
main.eleQuary select{
  width: 100px;
}
tr.link{
  text-align: center;
}
.link a{
  font-size: 15px;
}
.link a:link {color:#CC0033;}
