/*通知公告*/
div.header{
  height: 50px;
  background-color: gray;
}
div.header span.head_content{
  line-height: 50px;
  padding-left: 10px;
}
main.notic{
	height:500px;
}
div.header span.img{
  padding-left: 70px;
}
.pad_center ul li{
  width:100%;
  display:inline-block;
  line-height: 30px;
  border-bottom-style:dotted;
  border-bottom-width: 1px;
  border-bottom-color: #CCC;
}
.pad_center ul a{
  float: left;
  margin-left: 5px;
}
.pad_center ul span{
  float: right;
  margin-right: 30px;
}
.tab_footer{
  width: 100%;
  line-height: 30px;
  margin-top: 20px;
}
.message{
  width: 25%;
  text-align: right;
  letter-spacing: 2px;
  float: left;
}
.btn{
  width: 95%;
  text-align: right;
  letter-spacing: 2px;
}
.notic_body{
/*  width: inherit;*/
  /*background-color: red;*/
}
.notic_title{
/*  display: inline-block;*/
  font-size: 30px;
  line-height: 70px;
  text-align: center;
  letter-spacing: 5px;
  margin-top: 10px;
  border-bottom-style:solid;
  border-bottom-width: 3px;
  border-bottom-color: blue;
}
.notic_time{
	padding-top:10px;
	text-align:center;
}
.notic_text{
  width: 70%;
  margin:40px auto;
  line-height: 37px;
  font-size: 17px;
  letter-spacing: 1px;
  text-indent:2em;
}
