/*报修记录*/
main.repair_list{
  height: 580px;
  text-align: center;
}
main div.repair_tb{
  background-color: white;
  height: inherit;
  width: 85%;
  margin: 0 auto;
  padding-top: 30px;
}
main div.repair_tb table{
  margin: 0 auto;
  width: 100%;
}
div.repair_tb th{
  background-color:#50C2FF;
  background:-o-linear-gradient(90deg, #50C2FF, #9bdcfe);
  background:-moz-linear-gradient( center top, #50C2FF 5%, #9bdcfe 100% );
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #50C2FF), color-stop(1, #9bdcfe) );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#50C2FF', endColorstr='#9bdcfe');
  color:#FFFFFF
}

div.repair_tb (table,th,td)
{
  font-size:17px;
  text-align:center;
  padding:4px;
  border:1px solid #efefef;
  border-collapse:collapse;

}
div.repair_tb tr{
  height: 40px;
  line-height: 40px;
}
div.repair_tb tr:nth-child(odd){
  background-color:#c4eafe;
  background:-o-linear-gradient(90deg, #c4eafe, #f3fafe);
  background:-moz-linear-gradient( center top, #c4eafe 5%, #f3fafe 100% );
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c4eafe), color-stop(1, #f3fafe) );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c4eafe', endColorstr='#f3fafe');
}
div.repair_tb tr:nth-child(even){
  background-color:#fdfdfd;
}
.tab_footer{
  width: 100%;
  line-height: 30px;
  margin-top: 20px;
}
.message{
  width: 25%;
  text-align: right;
  letter-spacing: 2px;
  float: left;
}
.btn{
  width: 95%;
  text-align: right;
  letter-spacing: 2px;
}
/*我要报修*/
.addRepairInfo form{
  letter-spacing: 1px;
  /*text-align: center;*/
}
.repairForm table{
  /*width: 50%;*/
  border: none;
  height: 100%;
  margin: 0 auto;
/*  padding-left: 10%;*/
  padding-top: 30px;
}
.repairForm tr{
  height: 50px;
}
.repairForm input{
  margin-top: 0;
}
.repairForm (tr,td){
  border: none;
}

input[disable="true"]{
  background-color: black;
}
textarea{
  resize: none;
}
.tdLabel{
	text-align: right;
}
#form-Id,#form-roomId{
	display:none;
}
.form-Id,.form-roomId{
	display:none;
}